<template>
  <div id="app">
      hello world
  </div>
</template>

<script>
    export default {
        name: 'App'
    }
</script>

<style lang="scss" scoped>
    #app {
        background: red;
    }
</style>